<section class="text-center p-6 bg-fuchsia font-mono">
  <div class="flex justify-center gap-4 mb-6 flex-wrap">
    <a href="/stage-1" class="min-w-[150px] p-4 border text-white bg-blue rounded-lg text-center font-medium hover:bg-green transition-colors">Stage 1</a>
    <a href="/stage-2" class="min-w-[150px] p-4 border text-white bg-blue rounded-lg text-center font-medium hover:bg-green transition-colors">Stage 2</a>
    <a href="/stage-3" class="min-w-[150px] p-4 border text-white bg-blue rounded-lg text-center font-medium hover:bg-green transition-colors">Stage 3</a>
    <a href="/stage-4" class="min-w-[150px] p-4 border text-white bg-blue rounded-lg text-center font-medium hover:bg-green transition-colors">Stage 4</a>
  </div>
  
  <div class="flex justify-center gap-4 flex-wrap font-quicksand">
    <a href="/stage-0" class="min-w-[150px] p-4 border text-white bg-blue rounded-lg text-center font-medium hover:bg-green transition-colors">Stage 0</a>
    <a href="/family-member" class="min-w-[150px] p-4 border text-white bg-blue rounded-lg text-center font-medium hover:bg-green transition-colors">Family Member</a>
  </div>
</section>