---
---

<footer class="mt-8 py-8 bg-fuchsia">
  <div class="p-8 text-center">
    <p>Prostate Hub &copy 2025 - Built by <a href="https://adrianlim.netlify.app" target="_blank">Adrian Lim W.S</a></p>
  </div>
</footer>