---
import SearchBar  from '../vue/SearchBar.vue';
import MenuButton from '../vue/MenuButton.vue';
---

<header class="bg-blue">
  <div class="flex items-center justify-between p-4  text-white">
    <div class="font-bold text-xl"> <a href="/">Prostate Hub</a></div>
    <div class="flex-grow px-8">
      <SearchBar client:load />
    </div>
    <div class="flex items-center gap-4">
      <MenuButton client:load />
    </div>
  </div>
</header>