---
---

<div class="max-w-6xl mx-auto flex justify-between gap-4 my-8 font-mono">
  <a href="https://prostate.org.nz/online-forum" target="_blank" class="flex-1 p-6 bg-blue rounded-lg text-center text-white font-medium hover:bg-green transition-colors">Forum</a>
  <a href="https://prostate.org.nz/donations" target="_blank" class="flex-1 p-6 bg-blue rounded-lg text-center text-white font-medium hover:bg-green transition-colors">Donation</a>
</div>