---
const { title } = Astro.props;
---

<a href="/studies" class="block p-8 shadow-md rounded-lg bg-fuchsia hover:bg-green hover:text-white transition-all duration-300 font-comfortaa h-full">
  <div class="flex flex-col h-full">
    <h2 class="text-xl font-bold mb-4 pb-3 border-b border-gray-200">{title}</h2>
    <div class="flex-grow">
      <slot />
    </div>
    <div class="mt-6 text-sm font-medium flex items-center justify-end">
      <span>Read more</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
      </svg>
    </div>
  </div>
</a>