---
const { title } = Astro.props;
---

<a href="/studies" class="gap-4 mt-6 p-6 max-w-[380px] shadow-md bg-fuchsia rounded-lg hover:bg-green transition font-comfortaa">
  <h2 class="text-xl font-bold mb-6">{title}</h2>
  <div class="min-h-[100px]">
    <slot />
  </div>
</a>