---
---

<section class="text-center p-10 font-comfortaa">
	<h1 class="text-4xl font-bold mb-4">Welcome to Prostate Hub</h1>
	<p class="text-lg max-w-3xl mx-auto">
		We're here to help guide you through your prostate cancer journey.</p>
</section>