---
---

<section class="text-center p-10">
	<h1 class="text-4xl font-bold mb-4 font-comfortaa">Prostate Hub</h1>
	<p class="text-lg max-w-3xl mx-auto font-comfortaa">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt commodi repellat reprehenderit cupiditate voluptatem sint laborum vel eaque! Magni quibusdam recusandae excepturi fuga voluptas provident veritatis quos saepe neque explicabo!
	</p>
</section>