---
// src/pages/index.astro
import BaseLayout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import WelcomeSection from '../components/WelcomeSection.astro';
import CallToActionMenu from '../components/CallToActionMenu.astro';
import StudySection from '../components/StudySection.astro';
import LinkButtons from '../components/LinkButtons.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Prostate Hub">
  <Header />
  
  <main>
    <WelcomeSection />
    
    <CallToActionMenu />
    
    <StudySection title="Studies: Kegel Exercises">
    </StudySection>
    
    <StudySection title="Studies: Food">
    </StudySection>
    
    <StudySection title="Studies: K9MD">
    </StudySection>
    
    <LinkButtons />
  </main>
  
  <Footer />
</BaseLayout>