---
// src/pages/index.astro
import BaseLayout       from '../layouts/Layout.astro';
import Header           from '../components/astro/Header.astro';
import WelcomeSection   from '../components/astro/WelcomeSection.astro';
import CallToActionMenu from '../components/astro/CallToActionMenu.astro';
import StudySection     from '../components/astro/StudySection.astro';
import LinkButtons      from '../components/astro/LinkButtons.astro';
import Footer           from '../components/astro/Footer.astro';
---

<BaseLayout title="Prostate Hub">
  <Header />
  
  <main>
    <WelcomeSection />
    
    <CallToActionMenu />
    
    <StudySection title="Studies: Kegel Exercises">
    </StudySection>
    
    <StudySection title="Studies: Food">
    </StudySection>
    
    <StudySection title="Studies: K9MD">
    </StudySection>
    
    <LinkButtons />
  </main>
  
  <Footer />
</BaseLayout>