---
// src/pages/index.astro
import BaseLayout       from '../layouts/Layout.astro';
import Header           from '../components/astro/Header.astro';
import WelcomeSection   from '../components/astro/WelcomeSection.astro';
import CallToActionMenu from '../components/astro/CallToActionMenu.astro';
import StudySection     from '../components/astro/StudySection.astro';
import LinkButtons      from '../components/astro/LinkButtons.astro';
import Footer           from '../components/astro/Footer.astro';
---

<BaseLayout title="Prostate Hub">
  <Header />
  
  <main>
    <WelcomeSection />
    
    <CallToActionMenu />
    
    <div class="flex justify-center gap-4 mb-6 flex-wrap font-comfortaa">
        <StudySection title="Studies: Kegel Exercises">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla labore illum, voluptates cupiditate sit quam corporis sapiente aperiam ipsum odio asperiores explicabo vitae. Accusamus debitis obcaecati nulla nisi quo.
        </StudySection>

        <StudySection title="Studies: Food">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla labore illum, voluptates cupiditate sit quam corporis sapiente aperiam ipsum odio asperiores explicabo vitae. Accusamus debitis obcaecati nulla nisi quo.
        </StudySection>

        <StudySection title="Studies: K9MD">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla labore illum, voluptates cupiditate sit quam corporis sapiente aperiam ipsum odio asperiores explicabo vitae. Accusamus debitis obcaecati nulla nisi quo.
        </StudySection>
    </div>
   
    <LinkButtons />
  </main>
  
  <Footer />
</BaseLayout>