---
import BaseLayout      from '../layouts/Layout.astro';
import Header          from '../components/astro/Header.astro';
import Footer          from '../components/astro/Footer.astro';
import Accordion       from '../components/astro/Accordion.astro';
import { Breadcrumbs } from "astro-breadcrumbs";

import "astro-breadcrumbs/breadcrumbs.css";
---

<BaseLayout title="Prostate Hub - For Family Members">
  <Header />
  
  <main class="my-8 container mx-auto px-4">
    <section class="text-center p-8 mb-8">
      <h1 class="text-3xl font-bold mb-4">Studies</h1>
      <p class="text-lg max-w-3xl mx-auto">
        Information and resources about medical studies related to prostate cancer.
      </p>
    </section>
    <div class="mb-2">
      <Breadcrumbs separatorAriaHidden={false} linkTextFormat="capitalized">
        <svg
          slot="separator"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </Breadcrumbs>
    </div>
    <div class="mb-8">
      <Accordion title="Kegel Exercises" initiallyOpen={true}>
        <div class="space-y-4">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet nobis soluta dicta iusto, eaque voluptates. Consectetur inventore dolor velit omnis, nesciunt magnam porro. Debitis, excepturi iusto. Ipsa, ipsam laborum!</p>
        </div>
      </Accordion>
      
      <Accordion title="Food">
        <div class="space-y-4">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet nobis soluta dicta iusto, eaque voluptates. Consectetur inventore dolor velit omnis, nesciunt magnam porro. Debitis, excepturi iusto. Ipsa, ipsam laborum!</p>
        </div>
      </Accordion>
      
      <Accordion title="K9MD">
        <div class="space-y-4">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo amet nobis soluta dicta iusto, eaque voluptates. Consectetur inventore dolor velit omnis, nesciunt magnam porro. Debitis, excepturi iusto. Ipsa, ipsam laborum!</p>
        </div>
      </Accordion>
    </div>
  </main>
  
  <Footer />
</BaseLayout>