---
---

<footer>
 <div class="footer-content">
   <p>Footer</p>
 </div>
</footer>

<style>
 footer {
   margin-top: 2rem;
   padding: 2rem 0;
 }
 
 .footer-content {
   padding: 2rem;
   text-align: center;
 }
</style>