---
import SearchBar from './SearchBar.vue';
import MenuButton from './MenuButton.vue';
---

<header class="py-4">
  <div class="flex items-center justify-between border border-gray-200 rounded-lg p-4">
    <div class="font-bold text-xl">Prostate Hub</div>
    <div class="flex-grow px-8">
      <SearchBar client:load />
    </div>
    <div class="flex items-center gap-4">
      <MenuButton client:load />
    </div>
  </div>
</header>