---
---

<div class="flex justify-between gap-4 my-8">
  <a href="/forum" class="flex-1 p-6 border border-gray-200 rounded-lg text-center font-medium hover:bg-gray-50 transition-colors">Forum</a>
  <a href="/donation" class="flex-1 p-6 border border-gray-200 rounded-lg text-center font-medium hover:bg-gray-50 transition-colors">Donation</a>
</div>