---
const { title } = Astro.props;
---

<section class="my-8 p-6 border border-gray-200 rounded-lg">
  <h2 class="text-xl font-bold mb-6 text-center">{title}</h2>
  <div class="min-h-[100px]">
    <slot />
  </div>
</section>