---
// src/components/WelcomeSection.astro
---

<section class="welcome">
	<h1>Prostate Hub</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic veritatis saepe deserunt sed assumenda sapiente nulla ipsam vitae exercitationem architecto officia, autem aliquam expedita laborum asperiores. Aperiam ducimus deleniti recusandae!</p>
</section>

<style>
	.welcome {
			text-align: center;
			padding: 2rem;
	}
	
	h1 {
			font-size: 2rem;
			margin-bottom: 1rem;
	}
	
	p {
			font-size: 1.1rem;
			max-width: 800px;
			margin: 0 auto;
	}
</style>