---
// src/components/WelcomeSection.astro
---

<section class="text-center p-8 my-4">
	<h1 class="text-3xl font-bold mb-4">Prostate Hub</h1>
	<p class="text-lg max-w-3xl mx-auto">
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt commodi repellat reprehenderit cupiditate voluptatem sint laborum vel eaque! Magni quibusdam recusandae excepturi fuga voluptas provident veritatis quos saepe neque explicabo!
	</p>
</section>